/* PT Sans */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.visualy-hidden {
  display: none;
}

/* Navigation */

.navigation {
  display: flex;
  width: 1060px;
  height: 64px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.btn.navigation-link {
  padding: 8px 34px;
}

.likes-container {
  position: relative;
}

.likes-counter-container {
  position: absolute;
  bottom: 15px;
  left: 9px;

  display: inline-block;
  background: #7DB54F;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.likes-counter {
  padding: 5px;
  display: block;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
}

/* Welcome (main page header) */

.welcome {
  background-color: #acedf4;
  background-image: url("../images/welcome_background.jpg");
  background-size:100% 100%;
  min-height: 767px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.welcome-img {
  display: block;
  margin: 51px auto 135px;
}

/* Section */

.section-container {
  width: 684px;
  text-align: center;
  margin: 96px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.small-section{
  margin: 69px auto;
}

.section-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.section-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

/* Cards */

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards-item {
  text-align: center;
}

.cards-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

/* Button */

.btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;

  border: none;
  border-radius: 4px;
  background-color: #756157;

  padding: 8px 50px;
}

/* Advantages */

.advantages{
  margin-top: 21px;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  display: flex;
}

.advantages-item-img{
  max-width: 100%;
  height: auto;
}

.white-text {
  color: #FFFFFF;
}

.advantages-description-box {
  box-sizing: border-box;
  padding: 102px 85px;
  width: 400px;
  min-height: 385px;
  /* height: 385px; */
}

.blue-box {
  background-color: #82B3D3;
}

.grey-box {
  background-color: rgba(131, 179, 211, 0.12);
}

.dark-grey-box {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Services */

.services-list {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
  padding: 81px 85px;
}

.services-item-icon{
  order: -1;
}

.services-item-description,
.services-item-title{
  margin: 0;
}

.light-blue-box {
  background-color: rgba(131, 179, 211, 0.12);
  ;
}

/* Newsletter */

.newsletter-index {
  background-color: #acedf4;
  background-image: url("../images/subscribe_background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.newsletter-conatiner{
  margin: 0;
  padding: 96px 258px;
}

.newsletter-white-title, .newsletter-white-description {
  color: #FFFFFF;
}

.newsletter-black-title, newsletter-black-description {
  color: #000000;
}

/* Hotels filters (catalog header) */

.inner-header {
  margin-bottom: 50px;
  padding: 35px 110px 70px;
  background-color: #e0acf4;
  background-image: url("../images/filter_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.inner-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 8px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  width: 114px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.hotel-selection {
  display: flex;
  justify-content: space-between;
}

.buttons_container {
  margin-top: 56px;
  width: 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hotel-filter {
  display: flex;
}

.hotel-filter-group {
  width: 150px;
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

.hotel-filter-price {
  margin-left: 70px;
}

.hotel-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hotel-filter-title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.hotel-filter-item {
  margin-bottom: 16px;
}

.hotel-filter-item:last-child {
  margin-bottom: 0;
}

.hotel-filter-label {
  line-height: 23px;
  margin-left: 16px;
}

.hotel-filter-input {
  margin: 0;
}

.hotel-filters-set {
  background-color: #82B3D3;
  padding: 8px 44px;
  margin-bottom: 32px;
}

.hotel-filter-btn {
  background-color: transparent;
}

/* Hotels search result */

.hotels-result {
  padding: 0 70px;
}

.hotels-result-settings {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.hotels-display-type {
  margin: 0;
  padding: 0;
  display: flex;
  width: 160px;
  justify-content: space-between;
  list-style-type: none;
}

.display-type  {
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 12px;
  box-sizing: border-box;
  text-align: center;
}

.display-type-active {
  border: 2px solid #000000;
}

.hotels-found {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-select {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.hotels-result-list {
  width: 1060px;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}

.hotels-result-card {
  width: 340px;
  height: 438px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
}

.hotels-card-link {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotels-card-img{
  max-width: 100%;
  height: auto;
  order: -1;
  margin-bottom: 16px;
}

.hotels-card-title{
  margin: 0;
}

.hotels-type,
.hotels-price{
  margin: 0;
}

.hotels-card-actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotels-card-actions
.btn{
  width: 140px;
  box-sizing: border-box;
  padding: 8px 10px;
}

.hotels-card-rating{
  display: flex;
  justify-content: space-between;
}

.hotels-card-info{
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.hotels-favorite {
  background-color: #82B3D3;
}

.hotels-favorite-picked {
  background-color: #7DB54F;
}

.rating-box {
  width: 140px;
  height: 37px;

  border: none;
  border-radius: 4px;
  background-color: #F2F2F2;
}

.rating-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  padding: 9px 22px 8px 23px;
  margin: 0;
}

.hotels-result-pagination{
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  margin-bottom: 60px;
}

.pagination-item {
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;

  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item:last-child{
  margin-right: 0;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #FFFFFF;
}

.pagination-current {
  background-color: #F2F2F2;
}

.pagination-current-text{
  color: #000000;
}

.pagination-link-etc {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.pagination-item-etc {
  background-color: transparent;
  color: #000000;
}

.newsletter-btn {
  background-color: #82B3D3;
}

.newsletter-form{
  margin-top: 26px;
}

/* Footer */

.footer-container {
  margin: 45px auto 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 70px;
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-socials {
  display: flex;
  justify-content: space-between;
  width: 144px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-socials-item {
  display: flex;
  align-items: center;
  width: 48px;
  height: 40px;
  text-align: center;
}

.footer-copyright-link {
  display: flex;
  align-items: center;
}
