/* PT Sans */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  display: none;
}

/* Navigation */

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1095px;
  margin: 0 auto;
}

.navigation-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 640px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.icon-container {
  position: relative;
  grid-row-start: 1;
  grid-row-end: 4;
  width: 160px;
  margin-right: 30px;
}

.sedona-logo {
  position: absolute;
  left: 10px;
  top: -20px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 438px;
  justify-content: flex-end;
  margin-right: 17px;
}

.navigation-user-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
  min-width: 44px;
  min-height: 36px;
  text-align: center;
}

.navigation-link {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}


.navigation-item {
  position: relative;
  margin: 20px 8px;
  text-align: center;
}

.navigation-btn {
  margin-left: 21px;
}

.navigation-link-current::before {
  position: absolute;
  top: 43px;

  height: 3px;
  width: 68px;
  background-color: #756257;
  content: "";
}

.link-current-catalog::before {
  left: 10px;
}

.btn.navigation-link {
  padding: 8px 34px;
}

.likes-container {
  position: relative;
}

.likes-counter-container {
  position: absolute;
  bottom: 15px;
  left: 9px;

  display: inline-block;
  background: #7DB54F;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.likes-counter {
  padding: 5px;
  display: block;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
}

/* Welcome (main page header) */

.welcome {
  background-color: #acedf4;
  background-image: url("../images/welcome_background.jpg");
  background-size: 100% 100%;
  min-height: 767px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.welcome-img {
  display: block;
  margin: 51px auto 83px;
}

.welcome-title {
  padding: 5px 0;
}

/* Section */

.section-container {
  width: 684px;
  text-align: center;
  margin: 96px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.small-section {
  margin: 64px auto;
  gap: 30p
}

.section-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.section-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.section-description-interested {
  margin-top: -5px;
}

.section-description-newsletter {
  margin-top: -9px;
}

/* Cards */

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards-item {
  text-align: center;
}

.cards-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

/* Button */

.btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;

  border: none;
  border-radius: 4px;
  background-color: #756157;

  padding: 8px 50px;

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  outline: none;
  background-color: #615048;
}

.btn:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.btn-blue {
  background-color: #82B3D3;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: #68A2CA;
}

.btn-blue:active {
  background: #82B3D3;
}

.btn-green {
  background-color: #7DB54F;
}

.btn-green:hover,
.btn-green:focus {
  background-color: #6C9E42;
}

.btn-green:active {
  background: #7DB54F;
  ;
}

.btn-transparent,
.btn-transparent:hover,
.btn-transparent:focus,
.btn-green:active {
  background-color: transparent;
}

.btn-transparent:focus {
  outline: 3px solid #83B3D3;
}

.btn:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
  cursor: default;
}

/* Advantages */

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  display: flex;
}

.advantages-item-title {
  margin: 0;
}

.advantages-item-description {
  margin: 0;
}

.advantages-item-title::after {
  content: "";
  display: block;
  margin: 30px auto;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.white-text::after {
  background: rgba(255, 255, 255, 0.3);
}

.advantages-item-img {
  max-width: 100%;
  height: auto;
}

.white-text {
  color: #FFFFFF;
}

.advantages-description-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 102px 85px;
  width: 400px;
  min-height: 385px;
}

.blue-box {
  background-color: #82B3D3;
}

.grey-box {
  background-color: rgba(131, 179, 211, 0.12);
}

.dark-grey-box {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Services */

.services-list {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
  padding: 81px 85px;
}

.services-item-icon {
  order: -1;
}

.services-item-description,
.services-item-title {
  margin: 0;
}

.light-blue-box {
  background-color: rgba(131, 179, 211, 0.12);
  ;
}

/* Interested */

.hotel-search {
  margin-top: 3px;
}

.hotel-search-btn {
  margin-top: 35px;
  font-weight: 700;
  font-size: 17px;
  line-height: 36px;
}

/* Newsletter */

.newsletter-index {
  background-color: #acedf4;
  background-image: url("../images/subscribe_background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.newsletter-conatiner {
  margin: 0;
  padding: 10px 258px;
}

.newsletter-section-title {
  margin-top: -5px;
}

.newsletter-white-title,
.newsletter-white-description {
  color: #FFFFFF;
  margin-bottom: 10px;
}

.newsletter-black-title,
.newsletter-black-description {
  color: #000000;
}

.newsletter-form {
  margin-top: 25px;
  display: flex;
}

.newsletter-form-calalog {
  margin-top: 36px;
}

.newsletter-email {
  width: 456px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: 1px solid #F2F2F2;
}

.newsletter-email:focus {
  outline: 3px solid #83B3D3;
}

.btn-subscribe {
  border-radius: 0 4px 4px 0;
  padding: 8px 54px;
}

/* Hotels filters (catalog header) */

.inner-header {
  margin-bottom: 50px;
  padding: 71px;
  padding-top: 35px;
  background-color: #e0acf4;
  background-image: url("../images/filter_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.inner-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 8px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  width: 350px;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.breadcrumbs-item::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
  width: 7px;
  height: 10px;
  background-image: url("../images/icons/breadcrumbs.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.hotel-selection {
  display: flex;
  justify-content: space-between;
}

.buttons_container {
  margin-top: 56px;
  width: 195px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 31px;
}

.hotel-filter {
  display: flex;
}

.hotel-filter-group {
  width: 151px;
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

.hotel-filter-group:nth-child(2) {
  margin-right: 140px;
}

.hotel-filter-btn {
  padding: 8px 48px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.range {
  position: relative;
  margin-top: 44px;
  height: 4px;
  background-color: #6e6e6e;
}

.range-bar {
  position: absolute;
  width: 226px;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  top: -8px;
}

.range-toggle:focus,
.range-toggle:active {
  outline: 3px solid #83B3D3;
}

.toggle-max {
  right: 0;
}

.price-box {
  position: relative;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.price-box-input {
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  box-sizing: border-box;

  width: 143px;
  padding: 12px 0 12px 20px;
}

.price-box-input:focus {
  outline: 4px solid #83B3D3;
  background-color: #E6E6E6;
  color: #000000;
}

.price-box-input:active {
  outline: 4px solid #000000;
  background-color: #F2F2F2;
}

.price-input-start {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.price-box-start::after {
  position: absolute;
  top: 12px;
  left: 105px;

  content: "от";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #757575;
}

.price-input-end {
  border-radius: 0 4px 4px 0;
}

.price-box-end::after {
  position: absolute;
  top: 12px;
  right: 0;

  content: "до";
  margin-left: auto;
  margin-right: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #757575;
}

.hotel-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hotel-filter-title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.hotel-filter-item {
  margin-bottom: 16px;
}

.hotel-filter-item:last-child {
  margin-bottom: 0;
}

.hotel-filter-label {
  line-height: 23px;
  margin-left: 16px;
}

/* Custom checks  */

.catalog-filter {
  display: flex;
}

.hotel-filter-title {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
  padding: 0;
}

.hotel-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  display: block;
  position: relative;
  padding-left: 36px;
  line-height: 23px;
  cursor: pointer;
}

.control:hover {
  opacity: 0.6;
}

.control:focus {
  outline: none;
}

.control:focus .control-mark {
  outline: 3px solid #83B3D3;
}

.control:active {
  opacity: 0.3;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  left: 0;
}

.control-input[type="checkbox"]:checked+.control-mark {
  background-image: url(../images/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"]+.control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
  top: 5px;
  left: 5px;
}

.hotel-filters-set {
  padding: 8px 44px;
  margin-bottom: 32px;
}

/* Hotels search result */

.hotels-result {
  padding: 0 70px;
}

.hotels-result-settings {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.hotels-card-actions .btn {
  width: 140px;
  padding: 9px 0;
}

.hotels-result-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.hotels-details-btn {
  font-size: 16px;
}

.hotels-display-type {
  margin: 0;
  padding: 0;
  display: flex;
  width: 160px;
  justify-content: space-between;
  list-style-type: none;
}

.display-type {
  width: 48px;
  height: 48px;
}

.display-type-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
}

.display-type-link:focus {
  border: 2px solid #68A2CA;
}

.display-type-link:active,
.display-type-link:hover {
  border: 2px solid #000000;
}

.hotels-found {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-select {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;

  box-sizing: border-box;
  height: 49px;
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
  padding: 12px 54px 12px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url(../images/icons/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: center right 21px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.hotel-select:hover,
.hotel-select:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.hotels-result-list {
  width: 1060px;
  padding: 0;
  margin: 0;
  margin-bottom: 78px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}

.hotels-result-card {
  width: 340px;
  min-height: 438px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;
}

.hotels-card-link {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotels-card-img {
  max-width: 100%;
  height: auto;
  order: -1;
  margin-bottom: 14px;
}

.hotels-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-top: 2px;
}

.hotels-type,
.hotels-price {
  margin: 0;
}

.hotels-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotels-card-rating {
  display: flex;
  justify-content: space-between;
}

.hotels-card-info {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.hotels-favorite-picked {
  cursor: default;
}

.hotels-favorite-picked:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
  cursor: default;
}

.rating-box {
  width: 140px;
  height: 37px;

  border: none;
  border-radius: 4px;
  background-color: #F2F2F2;
}

.rating-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  padding: 9px 22px 8px 23px;
  margin: 0;
}

.hotels-result-pagination {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  margin-bottom: 58px;
}

.pagination-item {
  min-width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;

  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #FFFFFF;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.pagination-current-link {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-current-link:hover,
.pagination-current-link:focus,
.pagination-current-link:active {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-link:focus {
  outline: none;
}

.pagination-link-etc {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.pagination-item-etc {
  background-color: transparent;
  color: #000000;
}

.pagination-item-etc:hover,
.pagination-item-etc:focus,
.pagination-item-etc:active {
  background-color: transparent;
}


/* Footer */

.footer-container {
  margin: 45px auto 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 70px;
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  margin-top: -3px;
  fill: #000000;
}

.footer-logo:hover,
.footer-logo:focus {
  fill: #756157;
}

.footer-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

.footer-socials {
  display: flex;
  justify-content: flex-start;
  max-width: 250px;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-socials-item {
  width: 48px;
  height: 40px;
}

.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.footer-copyright-link {
  display: flex;
  align-items: center;
}

.footer-socials-icon {
  fill: #83B3D3;
}

.footer-socials-icon:hover,
.footer-socials-icon:focus {
  fill: #68A2CA;
}

.footer-socials-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

/* Modal Box (Popup) */

.popup-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.popup-container-close {
  display: none;
}

.popup {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.popup-close-button {
  position: absolute;
  display: flex;
  width: 52px;
  height: 52px;
  top: 64px;
  right: 52px;
  border-radius: 50%;
  border: none;
  background-color: #F2F2F2;
  cursor: pointer;
}

.icon-cross {
  margin: auto;
  fill: #000000;
}

.popup-close-button:hover {
  background-color: #E6E6E6;
}

.popup-close-button:focus {
  outline: 3px solid #83B3D3;
}

.popup-close-button:active .icon-cross {
  fill-opacity: 0.3;
}

.popup-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.booking-form {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 137px 198px 242px;
  margin-top: 64px;
}

.popup-input-wrapper {
  grid-column: 2 / -1;
}

.popup-input {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
}

.booking-input {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 58px 12px 20px;
  width: 440px;
  font-weight: 700;
  border: none;
  background-image: url(../images/icons/date.svg);
  background-position: center right 22px;
  background-repeat: no-repeat;
}

.booking-input:focus {
  outline: 3px solid #83B3D3;
}

.booking-input:active {
  background-color: #E6E6E6;
  outline: 3px solid #000000;
}

.popup-info-message {
  margin: 4px 20px 23px 20px;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.text-color-red {
  color: #FF5757;
}

.popup-label {
  display: flex;
  margin-top: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
}

.booking-counter {
  display: flex;
}

.booking-counter-input {
  box-sizing: border-box;
  width: 31px;
  padding: 12px 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  border: 2px solid #F2F2F2;
}

@-moz-document url-prefix() {
  .booking-counter-input {
    font-size: 16px;
  }
}

.booking-counter-input::-webkit-outer-spin-button,
.booking-counter-input::-webkit-inner-spin-button {
  display: none;
}

.booking-counter-input[type=number] {
  -moz-appearance: textfield;
}

.booking-counter-input:focus {
  border: 2px solid #83B3D3;
  outline: none;
}

.booking-counter-button {
  display: flex;
  position: relative;
  width: 40px;
  height: 48px;
  border: none;
  cursor: pointer;
}

.booking-counter-button:focus {
  outline: none;
}

.icon-change {
  margin: auto;
  fill: rgba(117, 97, 87, 0.3);
  padding: 3px;
  border-radius: 4px;
}

.booking-counter-button:hover .icon-change {
  fill: #000000;
}

.booking-counter-button:focus .icon-change {
  fill: #000000;
  outline: 3px solid #82B3D3;
}

.booking-counter-button:active .icon-change {
  fill: rgba(117, 97, 87, 0.3);
}

.popup-search {
  grid-column: 1 / -1;
  margin-top: 48px;
  padding: 18px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: #83B3D3;
  border-radius: 10px;
}

.tooltip {
  margin-left: 10px;
  margin-right: 46px;
}

.tooltip-toggle {
  display: block;
  width: 26px;
  height: 26px;
  border: none;
  background-color: #83B3D3;
  border-radius: 50%;
  color: #ffffff;
  font-family: inherit;
  font-size: 18px;
  text-align: center;
}

.tooltip-toggle:hover,
.tooltip-toggle:focus {
  background-color: #68A2CA;
  outline: none;
}

.tooltip-text {
  box-sizing: border-box;
  width: 256px;
  background-color: #333333;
  padding: 17px 18px 18px 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  margin-top: 16px;
  transform: translateX(-40%);
  z-index: 1;
  text-transform: none;
  display: none;
}

.tooltip-toggle:hover+.tooltip-text,
.tooltip-toggle:focus+.tooltip-text {
  display: block;
}

.tooltip-text::before {
  content: " ";
  position: absolute;
  right: 130px;
  top: -10px;
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #333333;
}
